<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SigfoxDemoIoTHub" connectionString="Endpoint=sb://iothub-ns-sigfoxdemo-24394-8073db562a.servicebus.windows.net/;SharedAccessKeyName=service;SharedAccessKey=XLm9t3JJkTYVcD6atEQbzhsbXqFjlpo7tfxTQZyaWPM=" />
    <add name="SigfoxDemoStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=sigfoxdemo;AccountKey=k54svZ1rhYS1pvwhMbG2lTeI++8eA7igT5YoKUIg7ag9tBPKXi5uruzLjX3aVU8Zs8yzB+rk8+DCV1ANYCJ3rg==;BlobEndpoint=https://sigfoxdemo.blob.core.windows.net/;TableEndpoint=https://sigfoxdemo.table.core.windows.net/;QueueEndpoint=https://sigfoxdemo.queue.core.windows.net/;FileEndpoint=https://sigfoxdemo.file.core.windows.net/" />
    <add name="SigfoxDemoServiceBus" connectionString="Endpoint=sb://sigfoxdemo.servicebus.windows.net/;SharedAccessKeyName=sender;SharedAccessKey=ToFqXP06DQP7SWv7PlGhibROSVX4RidQyrLGFYsOjxQ=" />
  </connectionStrings>
</configuration>
