<connectionStrings>
  <add name="SigfoxDemoIoTHub" connectionString="Endpoint=sb://iothub-ns-sigfoxdemo-24394-8073db562a.servicebus.windows.net/;SharedAccessKeyName=service;SharedAccessKey=XLm9t3JJkTYVcD6atEQbzhsbXqFjlpo7tfxTQZyaWPM=" />
  <add name="SigfoxDemoStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=sigfoxdemo;AccountKey=k54svZ1rhYS1pvwhMbG2lTeI++8eA7igT5YoKUIg7ag9tBPKXi5uruzLjX3aVU8Zs8yzB+rk8+DCV1ANYCJ3rg==;BlobEndpoint=https://sigfoxdemo.blob.core.windows.net/;TableEndpoint=https://sigfoxdemo.table.core.windows.net/;QueueEndpoint=https://sigfoxdemo.queue.core.windows.net/;FileEndpoint=https://sigfoxdemo.file.core.windows.net/" />
  <add name="SigfoxDemoServiceBus" connectionString="Endpoint=sb://sigfoxdemo.servicebus.windows.net/;SharedAccessKeyName=sender;SharedAccessKey=ToFqXP06DQP7SWv7PlGhibROSVX4RidQyrLGFYsOjxQ=" />
  <add name="SigfoxDemoDispatchListener" connectionString="Endpoint=sb://sigfoxdemo.servicebus.windows.net/;SharedAccessKeyName=listener;SharedAccessKey=wBjkYNtAncJ/xfd/WcOV0Z5D1dCqmmg6h4w8EW6ucZQ=" />
  <add name="SigfoxDemoDispatchSender" connectionString="Endpoint=sb://sigfoxdemo.servicebus.windows.net/;SharedAccessKeyName=sender;SharedAccessKey=ToFqXP06DQP7SWv7PlGhibROSVX4RidQyrLGFYsOjxQ=;EntityPath=dispatch" />
  <add name="SigfoxDemoAlertListener" connectionString="Endpoint=sb://sigfoxdemo.servicebus.windows.net/;SharedAccessKeyName=listener;SharedAccessKey=r9LYGMpab0lF/PDKkUpJ6V5aNJr+3grW1MLdsh0jSdg=;EntityPath=alert" />
  <add name="SigfoxDemoAlertSender" connectionString="Endpoint=sb://sigfoxdemo.servicebus.windows.net/;SharedAccessKeyName=sender;SharedAccessKey=PPD8LmCazo+vwYqTG3WVRiv+Ps8g5sIXAm5qgjj/Dis=;EntityPath=alert" />
  <add name="SigfoxDemoCache" connectionString="sigfoxdemo.redis.cache.windows.net:6380,password=OomcGjXU+gP4lMjrFCnDiTMLi5Y0jLQEfWNnDKuk4ZQ=,ssl=True,abortConnect=False" />
  <add name="SigfoxDemoDatabase" connectionString="Server=tcp:sigfoxdemo.database.windows.net,1433;Database=sigfoxdemodb;User ID=sigfoxdemoadmin@sigfoxdemo;Password=sigfoxdemo16!;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
</connectionStrings>
